<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bai_Tap_Lon_Winform.Properties.Settings.ChuoiKetNoi"
            connectionString="Data Source=TRUONGQUOCTRUNG\SQLEXPRESS;Initial Catalog=Bai1_27/7;Persist Security Info=True;User ID=sa;Password=123" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>